@font-face {
  font-family: 'lato-bold';
  src: url('Lato/lato-bold.eot');
  src: url('Lato/lato-bold.eot?#iefix') format('embedded-opentype'),
  url('Lato/lato-bold.woff') format('woff'),
  url('Lato/lato-bold.ttf') format('truetype'),
  url('Lato/lato-bold.svg#latobold') format('svg');
  font-weight: bold;
  font-style: normal;
}
$font-family-bold: 'lato-bold', Helvetica, sans-serif;

@font-face {
  font-family: 'lato-italic';
  src: url('Lato/lato-italic.eot');
  src: url('Lato/lato-italic.eot?#iefix') format('embedded-opentype'),
  url('Lato/lato-italic.woff') format('woff'),
  url('Lato/lato-italic.ttf') format('truetype'),
  url('Lato/lato-italic.svg#latoitalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
$font-family-italic: 'lato-italic', Helvetica, sans-serif;

@font-face {
  font-family: 'lato-regular';
  src: url('Lato/lato-regular.eot');
  src: url('Lato/lato-regular.eot?#iefix') format('embedded-opentype'),
  url('Lato/lato-regular.woff') format('woff'),
  url('Lato/lato-regular.ttf') format('truetype'),
  url('Lato/lato-regular.svg#latoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
$font-family-regular: 'lato-regular', Helvetica, sans-serif;
