@import "fonts";
@import "colors";
@import "breakpoints";


html, .body {
  height: 100%;
}
.body {
  display: flex;
  flex-direction: column;
  max-width: 1244px;
  margin: 61px auto 80px;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex-shrink: 0;
}


.header {
  align-items: center;
  border-bottom: 1px solid $c-light-grey;
  display: flex;
  flex-wrap: wrap;
  height: 116px;
  justify-content: space-between;
  margin: 0 32px;
}

.site {
  align-items: center;
  display: flex;
}

.site__logo {
  background-color: $c-black;
  color: $c-white;
  font-size: 12px;
  font-family: $font-family-regular;
  margin-right: 32px;
  padding: 14px;
}

.site__item {
  font-size: 14px;
  font-family: $font-family-regular;
  margin: 0 24px;
  &:hover {
    color: $c-orange;
  }
}

.user {
  align-items: center;
  display: flex;
}

.user__login {
  align-items: center;
  display: flex;
  font-family: $font-family-regular;
  max-width: 150px;
  margin-right: 43px;
  &:hover {
    color: $c-orange;
  }
}

.user__basket {
  align-items: center;
  display: flex;
  font-family: $font-family-regular;
  margin-right: 43px;
  &:hover {
    color: $c-orange;
  }
}

.user__login__icon,
.basket__icon {
  margin-right: 9px;
  margin-left: 3px;
}

.user__login_orange {
  color: $c-orange;
}

* {box-sizing: border-box;}
.search-form {
  position: relative;
  width: 206px;
  margin: 0 auto;
}
.search-form__input {
  width: 100%;
  height: 42px;
  padding-left: 15px;
  padding-top: 7px;
  outline: none;
  color: $c-grey;
  font-family: $font-family-italic;
  font-size: 13px;
}

.search-form__button {
  position: absolute;
  top: 0;
  right: 0px;
  width: 42px;
  height: 42px;
  border: none;
  background: $c-grey;
  cursor: pointer;
  &:before {
    content: url("img/Search.png");
    font-size: 10px;
  }
}

.user__burger {
  display: none;
}


.main {
  margin: 0 32px;
}

.page {
  margin-top: 28px;
  font-size: 12px;
  font-family: $font-family-regular;
}

.wear_section-1 {
  margin-top: 59px;
}

.wear_section-2 {
  margin-top: 154px;
}

.wear_section-3 {
  margin: 152px 0 44px;
  padding-bottom: 110px;
  border-bottom: 1px solid $c-light-grey;
}

.wear__about {
  text-align: center;
}

.wear__type {
  font-family: $font-family-bold;
  letter-spacing: 1px;
  font-size: 36px;
  padding-left: 3px;
}

.wear__show-more {
  margin-top: 11px;
  padding-left: 14px;
  &:hover {
    color: $c-orange;
  }
}

.wear__show-more__text {
  font-size: 19px;
  font-family: Georgia, serif;
  font-style: italic;
  text-decoration: underline;
  padding-left: 2px;
}

.wear__show-more__tangle {
  font-size: 8px;
  margin-left: 6px;
}

.wear__menu {
  margin: 65px 10px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.wear__menu__part {
  text-align: center;
}

.wear__menu__photo {
  height: 256px;
  width: 208px;
  background: url("img/icon.png") no-repeat center;
}

.wear__menu__text {
  max-width: 208px;
  margin-top: 32px;
  font-size: 14px;
  letter-spacing: 1px;
  font-family: $font-family-regular;
}

.wear__menu__cost {
  margin-top: 8px;
}


.slider {
  padding-bottom: 48px;
}

.slider__title {
  text-align: center;
  margin-bottom: 52px;
  margin-left: 5px;
  font-family: Georgia, serif ;
  font-style: italic;
  font-size: 26px;
}

.slider__menu {
  display: flex;
  justify-content: center;
}

.slider__item {
  height: 119px;
  width: 197px;
}

.slider__item__left,
.slider__item__right {
  position:relative;
}

.slider__rectangle-left,
.slider__rectangle-right {
  height: 119px;
  width: 40px;
  position:absolute;
  background-color: rgba($c-light-grey, 0.6);
  top: 0;
}

.slider__rectangle-left {
  left: 0;
}

.slider__rectangle-right {
  right: 0;
}

.slider__switch-left,
.slider__switch-right {
  margin-top: 42px;
  margin-left: 12px;
}


.bottom {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 30px;
  margin: 0 32px;
}

.bottom__part {
  padding: 8px 0 9px;
}

.bottom__part__one {
  width: 280px;
}

.bottom__part__two,
.bottom__part__three,
.bottom__part__four {
  width: 300px;
  padding-left: 19px;
  border-left: 1px solid $c-light-grey;
}

.bottom__part__title {
  font-family: $font-family-bold;
  font-size: 15px;
}

.bottom__part__menu,
.bottom__part__rights {
  margin-top: 11px;
  font-family: $font-family-regular;
  font-size: 13px;
  line-height: 23px;
}

.bottom__part__item {
  display: block;
  &:hover {
    color: $c-orange;
  }
}

.bottom__part__social {
  margin-top: 18px;
  width: 125px;
  display: flex;
  justify-content: space-between;
}

.social__picture-block {
  border: 1px solid $c-black;
  height: 32px;
  width: 32px;
  text-align: center;
}

.picture {
  margin-top: 7px;
}

@media (max-width: $screen-xs-max) {
  .body {
    margin: 20px auto;
  }

  .site__logo {
    padding: 20px;
  }

  .user__burger {
    display: block;
  }

  .site__menu,
  .user__login__icon,
  .user__login__name,
  .basket-amount,
  .search-form,
  .slider,
  .bottom__part__one,
  .bottom__part__two,
  .bottom__part__three {
    display: none;
  }

  .bottom__part__four{
    border-left: none;
    width: 100%;
  }

  .bottom__part__title,
  .bottom__part__rights {
    text-align: center;
  }

  .bottom__part__social {
    width: 100%;
    justify-content: center;
  }

  .social__picture-block_facebook {
    margin: 0 5px;
  }

  .wear__menu__part {
    width: 35%;
    margin-top: 24px;
  }
}